[package]
name = "plasmid-fs"
version = "0.1.0"
edition = "2024"

[dependencies]
thiserror = { workspace = true }
walkdir = { workspace = true }

[dev-dependencies]
tempfile = { workspace = true }

[lints]
workspace = true